#footer
  background: var(--bs-gray-background)
  div
    margin: 0.5rem
  img
    height: 15px
  li
    display: inline
    margin: 0 5px
  p
    color: var(--bs-gray-600)
    font: 200 0.75rem 'Mulish', sans-serif

#social-icon
  i
    color: #333
    transition: color 0.3s
    &:hover
      color: #d8d8d8
