:root
  --swiper-navigation-size: 15px
  --swiper-navigation-sides-offset: 2.2rem
  --swiper-navigation-color: rgb(89,89,89)
  --swiper-pagination-color: #fff
  --swiper-pagination-bullet-size: 10px
  --swiper-pagination-bullet-inactive-color: rgba(0,0,0,0.1)
  --swiper-pagination-bullet-horizontal-gap: 3px

.swiper
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden
  .img-wrapper
    width: 100%
    height: 100%
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center

#slide
  .content
    position: absolute
    top: 48%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1
    h6
      font: 1rem 'Julius Sans One', sans-serif
      text-transform: uppercase
      line-height: 2
      letter-spacing: 8px
      color: rgba(68,68, 68, 0.9)
    h3
      font: 600 2rem 'Josefin Sans', sans-serif
      text-transform: uppercase
      white-space: nowrap
      line-height: 2
      letter-spacing: 20px
      color: rgba(16, 16, 16, 0.9)
    button
      border: 2px solid
      border-radius: 0
      font: 700 10px 'Mulish', sans-serif
      letter-spacing: 5px
      text-transform: uppercase
      &:hover
        border: 2px solid #000
    span
      font: italic 300 0.85rem 'Georgia', serif
      color: #666

// $imgs: (odd: slide1, even: slide2)
// @each $num, $img in $imgs
//   .swiper-slide:nth-child(#{$num})
//     background-image: url('../img/#{$img}.jpg')
//     background-size: 100% auto

// $margins: 'left', 'right'
// @for $i from 1 through length($margins)
//   $margin: (nth($margins, $i))
//   .swiper-slide:nth-child(#{$i})
//     margin: $margin

// .swiper-slide
//   position: relative

// $positions: (odd: left, even: right)
// @each $num, $position in $positions
//   .swiper-slide:nth-child(#{$num})>img
//     position: absolute
//     top: 0
//     #{$position}: 0

// .swiper-slide:nth-child(even)>img
//   position: absolute
//   top: 0
//   right: 0

.swiper-pagination-bullet
  margin-bottom: 12px !important
  border: 2px solid #fff
  opacity: 1
